@charset "UTF-8";
/* CSS Document */

article{
	display: block;
	margin: auto;
	max-width: 1300px;
}
.links:hover{
	cursor: pointer;
}
* {
	scroll-behavior: smooth;
}
#proj > p{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em;
}
#contactos > iframe {
	float: left;
}
#contactos > p > a{
	margin-left: 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 2em;
}
#contactos > p > a:hover{
	color: rgba(28,90,72,1.00);
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
article > div > h1{
	/*color: rgba(28,90,72,1.00);*/
	color: rgba(66,132,78,1.00);
	margin-bottom: 5px;
	font-weight: bold;
	padding-top: 150px;
}
#proj > div > h2 {
	color: rgba(66,132,78,1.00);
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 25px;
}
@media screen and (max-width: 750px) {
	.article > div > h1{
		padding-top: 70px;
	}
}