@charset "UTF-8";
/* CSS Document */

/*.new-deal{width:100%;float:left;padding:15px 0;}*/
/*ul {
	margin: auto;
	width:40%;
}*/
/*ul li {display: inline-block;list-style: none;margin:0;}*/
.demoFirst {
	/*width:300px;
	height:200px;*/
	overflow:hidden;
}
/*
.effect img {height: 200px;
	-webkit-transition:bottom .3s ease-in-out;
	-moz-transition:bottom .3s ease-in-out;
	-o-transition:bottom .3s ease-in-out;
	transition:bottom .3s ease-in-out;}
.effect img.top:hover {bottom:-96px;padding-top:100px;}
h2.zero,p.zero {margin:0;padding:0}
*/
a > ul > li > h2{
	display: none;
}
a > ul > li > p{
	display: none;
}
.projetos_lista > ul > li {
	font-size: 2em;
}
.cat{
	float: left;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 15px;
	width: 255px;
	height: 210px;
	background-color: rgba(66,132,78,0.05);
	border-radius: 45px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
}
.cat:hover{
	cursor: copy;
	z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
	/*https://codepen.io/wifeo/pen/qzwkb*/
	/*https://stackoverflow.com/questions/7273927/image-greyscale-with-css-re-color-on-mouse-over*/
}
.top {
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: auto;
	margin-top: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.top {
		margin-top: -10px;
	}
}
.projetos_lista > ul{
	margin: auto;
	width:40%;
}
.projetos_lista{
	margin-bottom: 20px;
}
.projetos_lista > h2 {
	margin-top: 10px;
}
